@using AspNetCoreHero.Boilerplate.Web.Views.Shared.Components.Header;
@using AspNetCoreHero.Boilerplate.Web.Views.Shared.Components.Footer;
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tintin247 - Tổng hợp tin tức hằng ngày</title>
    <partial name="_MetaData" />
    <partial name="_Styles" />
</head>
<body>
    <div class="loader" style="display:none;">
        <img src="~/images/Eclipse.gif" class="iconLoading" />
    </div>
    @(await Component.InvokeAsync<HeaderViewComponent>())
    @*@(await Component.InvokeAsync<NavigationBarViewComponent>())*@
    @RenderBody()
    @(await Component.InvokeAsync<FooterViewComponent>())
    <div id="back-to-top">
        <a href="#"></a>
    </div>
    <partial name="_Scripts" />
    <partial name="_ShareFacebook" />
    <partial name="_ShareZalo" />
    <partial name="_GoogleAnalytics" />

    @RenderSection("Scripts", required: false)
</body>
</html>