@using AspNetCoreHero.Boilerplate.Web.Extensions
@using AspNetCoreHero.Boilerplate.Web.Models
@model IEnumerable<ArticleViewModel>
@{

}

<section>
    <div class="section-title">
        <h2>Tin liên quan</h2>
    </div>
    @if (Model != null && Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            <div class="row" style="margin:20px 0;">
                @await Html.PartialAsync("~/Views/Partials/_Partial_HomeArticleItem12_Related.cshtml", item)
            </div>
        }
    }
</section>

