@{
    Layout = "_Layout";
}

<!-- Banner -->
<section id="home_banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-inner half-slide slide-overlay" style="background-image:url(images/slider/slider1.jpg)">
                    <div class="home_banner_text">
                        <div class="banner-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-gold">#Health</a>
                        </div>
                        <h2><a href="detail.html">Discover your true health</a></h2>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                    </div>
                </div>
                <div class="slide-inner quarter-slide slide-overlay" style="background-image:url(images/slider/slider2.jpg)">
                    <div class="home_banner_text">
                        <div class="banner-tag">
                            <a href="#" class="tag tag-blue">#Entertainment</a>
                            <a href="#" class="tag tag-green">#Health</a>
                        </div>
                        <h2><a href="detail.html">Top 10 Dancers you should</a></h2>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> Micheal Jackson</a></p>
                            <p><i class="icon-clock"></i> 1 July</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                    </div>
                </div>
                <div class="slide-inner quarter-slide quarter-slide-down slide-overlay" style="background-image:url(images/slider/slider3.jpg)">
                    <div class="home_banner_text">
                        <div class="banner-tag">
                            <a href="#" class="tag tag-green">#Religion</a>
                            <a href="#" class="tag tag-gold">#New</a>
                        </div>
                        <h2><a href="detail.html">What did Buddha teach?</a></h2>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> Tom Richardson</a></p>
                            <p><i class="icon-clock"></i> 12 June</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-inner half-slide slide-overlay" style="background-image:url(images/slider/slider2.jpg)">
                    <div class="home_banner_text">
                        <div class="banner-tag">
                            <a href="#" class="tag tag-green">#New</a>
                            <a href="#" class="tag tag-blue">#Health</a>
                        </div>
                        <h2><a href="detail.html">Top 10 Dancers you should</a></h2>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                    </div>
                </div>
                <div class="slide-inner quarter-slide slide-overlay" style="background-image:url(images/slider/slider3.jpg)">
                    <div class="home_banner_text">
                        <div class="banner-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-gold">#Health</a>
                        </div>
                        <h2><a href="detail.html">What did Buddha teach?</a></h2>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                    </div>
                </div>
                <div class="slide-inner quarter-slide quarter-slide-down slide-overlay" style="background-image:url(images/slider/slider1.jpg)">
                    <div class="home_banner_text">
                        <div class="banner-tag">
                            <a href="#" class="tag tag-gold">#New</a>
                            <a href="#" class="tag tag-green">#Health</a>
                        </div>
                        <h2><a href="detail.html">Discover your true health</a></h2>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-inner half-slide slide-overlay" style="background-image:url(images/slider/slider3.jpg)">
                    <div class="home_banner_text">
                        <div class="banner-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-green">#Health</a>
                        </div>
                        <h2><a href="detail.html">What did Buddha teach?</a></h2>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                    </div>
                </div>
                <div class="slide-inner quarter-slide slide-overlay" style="background-image:url(images/slider/slider1.jpg)">
                    <div class="home_banner_text">
                        <div class="banner-tag">
                            <a href="#" class="tag tag-green">#New</a>
                            <a href="#" class="tag tag-gold">#Health</a>
                        </div>
                        <h2><a href="detail.html">Top 10 Dancers you should</a></h2>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                    </div>
                </div>
                <div class="slide-inner quarter-slide quarter-slide-down slide-overlay" style="background-image:url(images/slider/slider2.jpg)">
                    <div class="home_banner_text">
                        <div class="banner-tag">
                            <a href="#" class="tag tag-gold">#New</a>
                            <a href="#" class="tag tag-blue">#Health</a>
                        </div>
                        <h2><a href="detail.html">Discover your true health</a></h2>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
</section>
<!-- Banner Ends -->
<!-- Breaking News -->
<section class="breaking-news">
    <div class="container">
        <h3>Breaking News</h3>
        <marquee scrolldelay="50" behavior="scroll" onmouseover="this.stop();" onmouseleave="this.start();">
            <li><a href="#">“Speaks perfect English”: Trump’s offensive praise of a Latino Border Patrol agent</a></li>
            <li><a href="#">Watch J. Lo live her best life, Nicki Minaj go regal, and Ariana Grande go religious.</a></li>
            <li><a href="#">Tesla fans have found a new person to blame for Elon Musk’s troubles: his girlfriend</a></li>
            <li><a href="#">The Pentagon won’t check if US bombs killed kids in Yemen. CNN did it for them.</a></li>
        </marquee>
    </div>
</section>
<!-- Breaking News Ends -->
<!-- Top Trending -->
<section class="top_trending">
    <div class="container">
        <div class="section-title">
            <h2>Top Trending</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="item-large">
                    <div class="item-large-image">
                        <img alt="Image" src="images/trending3.jpg">
                        <div class="image-overlay"></div>
                    </div>

                    <div class="item-large-content">
                        <h3><a href="detail.html">Creativity comes within itself for everyone</a></h3>
                        <div class="post-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-green">#Education</a>
                            <a href="#" class="tag tag-gold">#Children</a>
                        </div>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 2 comments</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="item-medium">
                    <div class="item-medium-image">
                        <img alt="Image" src="images/mostviewed3.jpg">
                        <div class="comment-bubble"><a href="#"><span>3</span></a></div>
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-medium-content">
                        <h3><a href="detail.html">Traffic, A Big Problem</a></h3>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-gold tag">#Politics</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="item-medium">
                    <div class="item-medium-image">
                        <img alt="Image" src="images/mostviewed1.jpg">
                        <div class="comment-bubble"><a href="#"><span>3</span></a></div>
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-medium-content">
                        <h3><a href="detail.html">Best Gadgets in town</a></h3>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> Mr. Gadget</a></p>
                            <p><i class="icon-clock"></i> 12 April</p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-green tag">#Health</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Top Trending Ends -->
<!-- Ad Section -->
<div class="ad1">
    <div class="container">
        <div class="ad1-content">
            <img src="images/pd1.jpg" alt="image">
        </div>
    </div>
</div>
<!-- Ad Section Ends -->
<!-- Latest Posts -->
<section class="latest_posts">
    <div class="container">
        <div class="section-title">
            <h2>Latest Posts</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="item-large">
                    <div class="item-large-image">
                        <img alt="Image" src="images/trending1.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="image-overlay"></div>
                    <div class="item-large-content">
                        <h3><a href="detail.html">New Generation of people loving food</a></h3>
                        <div class="post-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-green">#Sports</a>
                            <a href="#" class="tag tag-gold">#Trending</a>
                        </div>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 2 comments</a></p>
                        </div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small4.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">Watch: the 3 best performances of the 2018 VMAs</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-green tag">#Health</a>
                        </div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small5.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">Music bringing people together everywhere</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-gold tag">#Health</a>
                        </div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small6.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">“Speaks perfect English”: Trump’s offensive praise of a Latino Border Patrol agent</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-green tag">#Health</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="item-large">
                    <div class="item-large-image">
                        <img alt="Image" src="images/trending2.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="image-overlay"></div>
                    <div class="item-large-content">
                        <h3><a href="detail.html">2018’s most fascinating governor’s election, explained</a></h3>
                        <div class="post-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-green">#Security</a>
                            <a href="#" class="tag tag-gold">#Politics</a>
                        </div>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 2 comments</a></p>
                        </div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small1.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">7 reasons Hollywood doesn’t make romantic comedies anymore</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-gold tag">#New</a>
                            <a href="#" class="tag-green tag">#Sports</a>
                        </div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small2.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">Must have gadgets in this century</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-gold tag">#Health</a>
                        </div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small3.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">Why conservatives love to hate Alexandria Ocasio-Cortez</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-green tag">#Health</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Posts Ends -->
<!-- Buy Now -->
<section class="buy-now">
    <div class="container">
        <div class="buy-now-content">
            <h2>Build your dream magazine now</h2>
            <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="btn-white">Buy Now</a>
        </div>
    </div>
    <div class="sectionoverlay"></div>
</section>
<!-- Buy Now -->
<!-- Most Viewed -->
<section class="most-viewed">
    <div class="container">
        <div class="section-title">
            <h2>Most Viewed</h2>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="item-medium">
                    <div class="item-medium-image">
                        <img alt="Image" src="images/mostviewed1.jpg">
                        <div class="comment-bubble"><a href="#"><span>3</span></a></div>
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-medium-content">
                        <h3><a href="detail.html">Technology and Music</a></h3>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-gold tag">#Health</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="item-medium">
                    <div class="item-medium-image">
                        <img alt="Image" src="images/mostviewed2.jpg">
                        <div class="comment-bubble"><a href="#"><span>3</span></a></div>
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-medium-content">
                        <h3><a href="detail.html">Raising a child</a></h3>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-green tag">#Health</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="item-medium">
                    <div class="item-medium-image">
                        <img alt="Image" src="images/mostviewed3.jpg">
                        <div class="comment-bubble"><a href="#"><span>3</span></a></div>
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-medium-content">
                        <h3><a href="detail.html">Traveling</a></h3>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-gold tag">#New</a>
                            <a href="#" class="tag-green tag">#Health</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="item-medium">
                    <div class="item-medium-image">
                        <img alt="Image" src="images/mostviewed4.jpg">
                        <div class="comment-bubble"><a href="#"><span>3</span></a></div>
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-medium-content">
                        <h3><a href="detail.html">Chester Bennington</a></h3>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-green tag">#Health</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Most Viewed Ends -->
<!-- Categories -->
<section class="categories" data-ref="container-1">
    <div class="container">
        <div class="section-title">
            <h2>Categories</h2>
            <div class="category-box">
                <ul class="post-category">
                    <li class="filter" data-filter=".entertainment"><i class="icon-hotairballoon"></i> Entertainment</li>
                    <li class="filter" data-filter=".politics"><i class="icon-global"></i> Politics</li>
                    <li class="filter" data-filter=".business"><i class="icon-briefcase"></i> Business</li>
                    <li class="filter" data-filter=".sports"><i class="icon-dribbble"></i> Sports</li>
                </ul>
            </div>
        </div>
        <div class="row mix entertainment">
            <div class="col-sm-6">
                <div class="item-large">
                    <div class="item-large-image">
                        <img alt="Image" src="images/trending1.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="image-overlay"></div>
                    <div class="item-large-content">
                        <h3><a href="detail.html">New Generation of people loving food</a></h3>
                        <div class="post-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-green">#Sports</a>
                            <a href="#" class="tag tag-gold">#Trending</a>
                        </div>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 2 comments</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small1.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">7 reasons Hollywood doesn’t make romantic comedies anymore</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-gold tag">#New</a>
                            <a href="#" class="tag-green tag">#Sports</a>
                        </div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small2.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">Must have gadgets in this century</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-gold tag">#Health</a>
                        </div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small3.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">Why conservatives love to hate Alexandria Ocasio-Cortez</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-green tag">#Health</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mix politics">
            <div class="col-sm-6">
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small4.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">Watch: the 3 best performances of the 2018 VMAs</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-green tag">#Health</a>
                        </div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small5.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">Music bringing people together everywhere</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-gold tag">#Health</a>
                        </div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small6.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">“Speaks perfect English”: Trump’s offensive praise of a Latino Border Patrol agent</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-green tag">#Health</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="item-large item-margin">
                    <div class="item-large-image">
                        <img alt="Image" src="images/trending2.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="image-overlay"></div>
                    <div class="item-large-content">
                        <h3><a href="detail.html">Serving the country</a></h3>
                        <div class="post-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-green">#Security</a>
                            <a href="#" class="tag tag-gold">#Politics</a>
                        </div>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 2 comments</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mix business">
            <div class="col-sm-6">
                <div class="item-large">
                    <div class="item-large-image">
                        <img alt="Image" src="images/trending1.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="image-overlay"></div>
                    <div class="item-large-content">
                        <h3><a href="detail.html">New Generation of people loving food</a></h3>
                        <div class="post-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-green">#Sports</a>
                            <a href="#" class="tag tag-gold">#Trending</a>
                        </div>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="item-small item-margin">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small1.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">7 reasons Hollywood doesn’t make romantic comedies anymore</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-gold tag">#New</a>
                            <a href="#" class="tag-green tag">#Sports</a>
                        </div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small2.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">Must have gadgets in this century</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-gold tag">#Health</a>
                        </div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small3.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">Why conservatives love to hate Alexandria Ocasio-Cortez</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-green tag">#Health</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mix sports">
            <div class="col-sm-6">
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small4.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">Watch: the 3 best performances of the 2018 VMAs</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-green tag">#Health</a>
                        </div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small5.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">Music bringing people together everywhere</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-gold tag">#Health</a>
                        </div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="item-small-image">
                        <img alt="Image" src="images/small6.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-small-content">
                        <h4><a href="detail.html">“Speaks perfect English”: Trump’s offensive praise of a Latino Border Patrol agent</a></h4>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-green tag">#Health</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="item-large item-margin">
                    <div class="item-large-image">
                        <img alt="Image" src="images/trending3.jpg">
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-large-content">
                        <h3><a href="detail.html">World cup to be played in November</a></h3>
                        <div class="post-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-green">#Sports</a>
                            <a href="#" class="tag tag-gold">#Trending</a>
                        </div>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 2 comments</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Ends -->
<!-- Fashion -->
<section class="fashion">
    <div class="container">
        <div class="section-title">
            <h2>Fashion</h2>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="item-medium item-margin">
                    <div class="item-medium-image">
                        <img alt="Image" src="images/fashion2.jpg">
                        <div class="comment-bubble"><a href="#"><span>3</span></a></div>
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-medium-content">
                        <h3 class="item-medium-font"><a href="detail.html">Upcoming 50% sales off</a></h3>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-gold tag">#Fashion</a>
                        </div>
                    </div>
                </div>
                <div class="item-medium">
                    <div class="item-medium-image">
                        <img alt="Image" src="images/fashion1.jpg">
                        <div class="comment-bubble"><a href="#"><span>3</span></a></div>
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-medium-content">
                        <h3 class="item-medium-font"><a href="detail.html">Best Outfit For Winter</a></h3>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-gold tag">#Fashion</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="item-medium item-margin">
                    <div class="item-medium-image">
                        <img alt="Image" src="images/fashion4.jpg">
                        <div class="comment-bubble"><a href="#"><span>3</span></a></div>
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-medium-content">
                        <h3 class="item-medium-font"><a href="detail.html">The Killer Looks</a></h3>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-green tag">#Fashion</a>
                        </div>
                    </div>
                </div>
                <div class="item-medium">
                    <div class="item-medium-image">
                        <img alt="Image" src="images/fashion3.jpg">
                        <div class="comment-bubble"><a href="#"><span>3</span></a></div>
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-medium-content">
                        <h3 class="item-medium-font"><a href="detail.html">Look Best For Interview</a></h3>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-blue tag">#New</a>
                            <a href="#" class="tag-gold tag">#Fashion</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="item-medium">
                    <div class="item-medium-image">
                        <img alt="Image" src="images/fashion5.jpg">
                        <div class="comment-bubble"><a href="#"><span>3</span></a></div>
                        <div class="image-overlay"></div>
                    </div>
                    <div class="item-medium-content">
                        <h3><a href="detail.html">Lopez announces her new fashion collection</a></h3>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                        </div>
                        <div class="post-tag">
                            <a href="#" class="tag-gold tag">#New</a>
                            <a href="#" class="tag-green tag">#Fashion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fashion Ends -->
<!-- Gallery -->
<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <img alt="Image" src="images/gallery1.jpg">
                    </div>
                    <div class="gallery-text">
                        <h3><a href="detail.html">Top 10 guitar Riffs</a></h3>
                        <div class="post-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-green">#Music</a>
                            <a href="#" class="tag tag-gold">#Trending</a>
                        </div>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> Bob Dylan</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 2 comments</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <img alt="Image" src="images/gallery2.jpg">
                    </div>
                    <div class="gallery-text">
                        <h3><a href="detail.html">Top Golf Courts</a></h3>
                        <div class="post-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-green">#Sports</a>
                            <a href="#" class="tag tag-gold">#Trending</a>
                        </div>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 2 comments</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <img alt="Image" src="images/gallery3.jpg">
                    </div>
                    <div class="gallery-text">
                        <h3><a href="detail.html">Early Morning Breakfast</a></h3>
                        <div class="post-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-green">#Sports</a>
                            <a href="#" class="tag tag-gold">#Trending</a>
                        </div>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 2 comments</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <img alt="Image" src="images/gallery4.jpg">
                    </div>
                    <div class="gallery-text">
                        <h3><a href="detail.html">Children The Next Gen</a></h3>
                        <div class="post-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-green">#Sports</a>
                            <a href="#" class="tag tag-gold">#Trending</a>
                        </div>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 2 comments</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <img alt="Image" src="images/gallery5.jpg">
                    </div>
                    <div class="gallery-text">
                        <h3><a href="detail.html">Summer Beach</a></h3>
                        <div class="post-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-green">#Sports</a>
                            <a href="#" class="tag tag-gold">#Trending</a>
                        </div>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 2 comments</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <img alt="Image" src="images/gallery6.jpg">
                    </div>
                    <div class="gallery-text">
                        <h3><a href="detail.html">Mountains Calling</a></h3>
                        <div class="post-tag">
                            <a href="#" class="tag tag-blue">#New</a>
                            <a href="#" class="tag tag-green">#Sports</a>
                            <a href="#" class="tag tag-gold">#Trending</a>
                        </div>
                        <div class="author-detail">
                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                            <p><i class="icon-clock"></i> 12 May</p>
                            <p><a href="#"><i class="icon-chat"></i> 2 comments</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery Ends -->