@{
    Layout = "_Layout";
}

<div class="container">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <div></div>
                <h1>404</h1>
            </div>
            <h2>Không tìm thấy đường dẫn này</h2>
            <p>Trang bạn đang tìm kiếm có thể đã bị xóa, đổi tên hoặc tạm thời không truy cập được.</p>
            <a href="/">Về trang chủ</a>
        </div>
    </div>
</div>
