@using AspNetCoreHero.Boilerplate.Web.Models
@using AspNetCoreHero.Boilerplate.Web.Extensions
@model IEnumerable<ArticleViewModel>
@{
    var top1 = Model.Where(x => x.Image != null).FirstOrDefault();
    var top2 = Model.Where(x => x.Id != top1.Id);
}

@if (top1 != null && top2 != null)
{
    <section class="top_trending">
        <div class="container">
            @*<div class="section-title">
                    <h2>Tin nóng</h2>
                </div>*@
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    @await Html.PartialAsync("~/Views/Partials/_Partial_LargeImage.cshtml", top1)
                </div>
                <div class="col-sm-6 col-xs-12">
                    @foreach (var item in top2)
                    {
                        @await Html.PartialAsync("~/Views/Partials/_Partial_HomeArticleItem12.cshtml", item)
                    }

                </div>
            </div>
        </div>
    </section>
}
