@using AspNetCoreHero.Boilerplate.Web.Extensions
@using AspNetCoreHero.Boilerplate.Web.Models
@model IEnumerable<ArticleViewModel>
@{

}
<section>
    <div class="container">
        <div class="section-title">
            <h2>@ViewData["Title"].ToString()</h2>
        </div>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model.Take(6).Batch(3))
            {
                <div class="row">
                    @foreach (var subItem in item)
                    {
                        <div class="col-sm-4 col-xs-6" style="margin-bottom:20px;">
                            @await Html.PartialAsync("~/Views/Partials/_Partial_HomeArticleItem13.cshtml", subItem)
                        </div>
                    }

                </div>
            }
        }
    </div>
</section>