@using AspNetCoreHero.Boilerplate.Web.Models
@model IEnumerable<ArticleViewModel>

<section class="breaking-news">
    <div class="container">
        <h3>Breaking News</h3>
        <marquee scrolldelay="50" behavior="scroll" onmouseover="this.stop();" onmouseleave="this.start();">
            @foreach (var item in Model)
            {
                <li><a href="@item.FullSlug">@item.Title</a></li>
            }
        </marquee>
    </div>
</section>