@using AspNetCoreHero.Boilerplate.Web.Models
@using AspNetCoreHero.Boilerplate.Web.Extensions
@model IEnumerable<ArticleViewModel>
@{

}

@if (Model != null && Model.Count() > 0)
{
    <section>
        <div class="container">
            <div class="section-title">
                <h2>@ViewData["Title"].ToString()</h2>
            </div>
            @foreach (var item in Model.Batch(2))
            {
                <div class="row">
                    @foreach (var subItem in item)
                    {
                        <div class="col-sm-6 col-xs-12" style="margin-bottom:20px;">
                            @await Html.PartialAsync("~/Views/Partials/_Partial_HomeArticleItem12.cshtml", subItem)
                        </div>
                    }

                </div>
            }
        </div>
    </section>
}
