<div class="comment-box">
    <h3>Comments</h3>
    <ul class="comment-list">
        <li>
            <div class="comment-item">
                <div class="comment-image">
                    <img src="~/images/author.jpg" alt="Image">
                </div>
                <div class="comment-content">
                    <h4>Jack Richard</h4>
                    <p class="date"><i class="icon-clock"></i> 12 May 2018</p>
                    <p>Et veniam possimus voluptatum voluptatem excepturi qui. Unde eum ut architecto veritatis quia deserunt incidunt consequatur. In fugiat voluptatem porro distinctio deleniti quod labore. Ipsam quibusdam inventore enim molestiae ducimus perspiciatis omnis. Eos repellat enim qui sit eaque maiores.</p>
                    <p>Quos quos tempora ab eos eum. Et libero fugiat quia et qui. Et illo et ut dolor nihil esse dolores rerum. Ut voluptatem voluptatibus non officiis aut quia.</p>
                    <a href="#" class="btn-white btn-red">Reply</a>
                </div>
            </div>
            <ul class="reply">
                <li>
                    <div class="comment-item">
                        <div class="comment-image">
                            <img src="~/images/author.jpg" alt="Image">
                        </div>
                        <div class="comment-content">
                            <h4>Jack Richard</h4>
                            <p class="date"><i class="icon-clock"></i> 12 May 2018</p>
                            <p>Et veniam possimus voluptatum voluptatem excepturi qui. Unde eum ut architecto veritatis quia deserunt incidunt consequatur. In fugiat voluptatem porro distinctio deleniti quod labore. Ipsam quibusdam inventore enim molestiae ducimus perspiciatis omnis. Eos repellat enim qui sit eaque maiores.</p>
                            <a href="#" class="btn-white btn-red">Reply</a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="comment-item">
                <div class="comment-image">
                    <img src="~/images/author.jpg" alt="Image">
                </div>
                <div class="comment-content">
                    <h4>Jack Richard</h4>
                    <p class="date"><i class="icon-clock"></i> 12 May 2018</p>
                    <p>Et veniam possimus voluptatum voluptatem excepturi qui. Unde eum ut architecto veritatis quia deserunt incidunt consequatur. In fugiat voluptatem porro distinctio deleniti quod labore. Ipsam quibusdam inventore enim molestiae ducimus perspiciatis omnis. Eos repellat enim qui sit eaque maiores.</p>
                    <p>Quos quos tempora ab eos eum. Et libero fugiat quia et qui. Et illo et ut dolor nihil esse dolores rerum. Ut voluptatem voluptatibus non officiis aut quia.</p>
                    <a href="#" class="btn-white btn-red">Reply</a>
                </div>
            </div>
        </li>
    </ul>
</div>