.article__meta {
    display: flex;
    align-items: center;
    flex-flow: wrap row;
    /*margin-bottom: 10px;*/
    height: 30px;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.article__meta .source {
    display: inline-flex;
    align-items: center;
    margin-left: 0;
}

.article__meta > * {
    margin-left: 25px;
    float: left;
}

    .article__meta .source img {
        vertical-align: top;
        margin: 0;
        height: 20px;
        width: auto;
    }

.bot-source {
    display: flex;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom:30px;
    padding:20px 0;
    /*font-size:13px !important;*/
}

.bot-source {
    /*    display: flex;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 30px;
    padding: 20px 0;*/

    clear: both;
    margin-bottom: 30px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    /*padding: 20px 0;*/
}

.bot-source >a .name {
    color: #333;
}

.bot-source >a {
    color: #999;
}

.item-tags a.tag-blue {
    margin: 2px 0;
}

.loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.4);
}

.iconLoading {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    height: 150px;
    width: 150px;
    overflow: hidden;
}
