
@using AspNetCoreHero.Boilerplate.Web.Views.Shared.Components.NavigationBar;
<header>
    <div class="upper-head upper-head-1 clearfix">
        <div class="container">
            <div class="header-date">
                <p><i class="icon-clock"></i> @DateTime.Now.ToString("dddd, dd/MM/yyyy")</p>
                @*  <p><i class="icon-cloud"></i> Hollywood, America</p>*@
            </div>
            <ul class="header-social-links pull-right">
                @*<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>*@

                <li> <a id="searchtogglNew" class="searchtoggle"><i class="fa fa-search" aria-hidden="true"></i></a></li>
            </ul>


            <div id="searchbarNew" class="searchbarNew">
                    <div class="gcse-searchbox-only" data-resultsUrl="https://tintin247.com/tim-kiem" enableAutoComplete="true"></div>
                @*<form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="search" placeholder="Search Now">
                            <a href="#"><span class="search_btn"><i class="fa fa-search" aria-hidden="true"></i></span></a>
                        </div>
                    </form>*@
              
            </div>
        </div>
    </div>
    @(await Component.InvokeAsync<NavigationBarViewComponent>())
    <div class="logo">
        <a href="/"><img alt="Image" src="/images/logo1.png"></a>
        @*<p>A Complete blog & magazine HTML Template</p>*@
    </div>


</header>

@section Scripts{

}